<div style="text-align: center;margin-top: 20px"><h1>Welcome <%= current_user.full_name %></h1></div>


<%= link_to 'Start Test', user_set_path(auth_toke: 'dfde45dfodkldYGLJIDFGD345FCAAssdds') %>

<script>
//    function openPopup()
//    {
//        window.open('/start-test','exam_dialog','toolbar=no,location=no,menubar=no,scrollbars=yes,resizable=no');
//        return false;
//    }
</script>