<div style="margin-top: 50px">
Welcome to dashboard

<%= link_to 'Sign Out', destroy_user_session_path ,method: 'delete' %>
<%= link_to 'Invite Candidate', invite_candidate_path  %>
<%= link_to 'Online Candidates', online_candidates_path  %>
</div>